{% load static tailwind_tags %}

<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    {% tailwind_css %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Documents</title>
    <link rel = "stylesheet" href = "{% static 'css/style.css'%}">
    
</head>
<body>
    <section>
       <img src ="{%static 'imgages/img7.jpg' alt="mon image"%}">
        <p class="text-lg font-bold text-black"> bienvenue sur le site de location de vehicule

        </p>
     <section>
   
</body>
</html>